<div class="home">
  <loading v-if="!loaded"></loading>
  <div v-else>
    <aside v-show="loaded">
      <label class="check-all">
        <input
          type="checkbox"
          @click="checkAllSub"
        >
        全部选择
      </label>
      <p
        v-for="subscription in subscriptions"
        @click="checkSub(subscription)"
      >
        <img class="icon" :src="subscription.iconUrl" alt="">
        <span class="title">{{ subscription.title }}</span>
      </p>
    </aside>
    <div class="content">
      <div v-for="feed in feeds">
        <p>{{ feed.title }}</p>
        <!-- <p>{{ feed.summary.content }}</p> -->
      </div>
    </div>
  </div>
</div>
